<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319498713309-ior4ljdphkqllrepeasadvqbaccaboi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319498713309-ior4ljdphkqllrepeasadvqbaccaboi1</string>
	<key>API_KEY</key>
	<string>AIzaSyDrHiFrxa1R-jEKwP26tjyO_7mnuOhFhc4</string>
	<key>GCM_SENDER_ID</key>
	<string>319498713309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikky.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mikky-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>mikky-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319498713309:ios:bfe88d1c182efb8ccd4334</string>
</dict>
</plist>